@font-face {
    font-family: 'DancingScript';
    src: url('../fonts/DancingScript-Regular.woff') format('woff2'),
        url('../fonts/DancingScript-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

 a,h1,h2,.titlu,p,h3,label,h4,h5{
    font-family: "DancingScript";
}