<script setup>





</script>

<template>
  <div class="container-fluid background">
        <div class="row justify-content-center align-content-center flex-wrap text-center">
            <h1>Meet out team</h1>
            <div class="col-5  mt-5 justify-content-center align-content-center flex-wrap text-center">
                <h2>Andreea Mocanu</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil vel veniam itaque ab deleniti
                    pariatur,
                    veritatis aperiam animi repellat optio illo porro fuga nesciunt quod, consequatur, doloribus
                    numquam! Architecto, voluptate.</p>
            </div>
            <div class="col-6 mb-5 justify-content-center align-content-center flex-wrap text-center">
                <div class="col justify-content-center align-content-center flex-wrap text-center ">
                    <img class="img-fluid simple-img border border-5 " src="src/img/people.jpg" alt="people">
                </div>
            </div>
        </div>

    </div>


 
</template>

<style scoped>
</style>
