<script setup>


</script>

<template>
  <div class="container-fluid background cakes ">
        <div class="row mx-5  mb-3">
            <div class="titlu mb-4 fw-light fs-1 justify-content-center align-content-center flex-wrap text-center ">
                Cakes
            </div>
            <hr>
            <div class="col justify-content-center align-content-center flex-wrap text-center ">
                <img class="img-fluid simple-img border border-5 " src="src/img/Cakes/cake1.jpeg" alt="">
            </div>
            <div class="col d-none d-sm-block">
                <img class="img-fluid simple-img border border-5" src="src/img/Cakes/cake2.jpeg" alt="">
            </div>
            <div class="col d-none d-md-block  ">
                <img class="img-fluid simple-img border border-5" src="src/img//Cakes/cake3.jpeg" alt="">
            </div>
            <div class="col d-none d-lg-block  ">
                <img class="img-fluid simple-img border border-5" src="src/img/Cakes/cake4.jpeg" alt="">
            </div>
            <div class="col d-none d-xl-block ">
                <img class="img-fluid simple-img border border-5" src="src/img/Cakes/cake5.jpeg" alt="">
            </div>
            <div class="col mb-5 d-none d-xxl-block">
                <img class="img-fluid simple-img border border-5" src="src/img/Cakes/cake6.jpeg" alt="">
            </div>


        </div>

        <div class="row">
            <div class="col flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a @click="pagina='cakes'"><button type="button" class="btn btn-outline-secondary mx-4 ">More
                        Cakes</button></a>
                <a @click="pagina='contact'"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>

            </div>
        </div>
    </div>

    <div class="container-fluid background eclairs">
        <div class="row mx-5  ">
            <div class="titlu mb-4 fw-light fs-1 justify-content-center align-content-center flex-wrap text-center ">
                Eclairs
            </div>
            <hr>
            <div class="col mb-5  justify-content-center align-content-center flex-wrap text-center ">
                <img class="img-fluid simple-img border border-5 mb-2" src="src/img/Eclairs/eclair3.jpeg" alt="">

                <a @click="pagina='contact'"><button type="button" class="btn btn-outline-secondary mx-4 ">Contact
                        now</button></a>

            </div>
            <div class="col mb-5 d-none d-sm-block  justify-content-center align-content-center flex-wrap text-center ">
                <img class="img-fluid simple-img border border-5 mb-2" src="src/img/Eclairs/eclair1.jpeg" alt="">
                <a @click="pagina='contact'"><button type="button" class="btn btn-outline-secondary mx-4 ">Contact
                        now</button></a>

            </div>
            <div
                class="col mb-5  d-none d-xl-block  justify-content-center align-content-center flex-wrap text-center ">
                <img class="img-fluid simple-img border border-5 mb-2" src="src/img/Eclairs/eclair2.jpeg" alt="">
                <a @click="pagina='contact'"><button type="button" class="btn btn-outline-secondary mx-4 ">Contact
                        now</button></a>

            </div>
            <div class="col mb-5 d-block d-sm-none  justify-content-center align-content-center flex-wrap text-center ">
                <img class="img-fluid simple-img border border-5" src="src/img/Eclairs/eclair1.jpeg" alt="">
                <a @click="pagina='contact'"><button type="button" class="btn btn-outline-secondary mx-4 ">Contact
                        now</button></a>


            </div>

        </div>

        <div class="row">
            <div class="col d-flex flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a @click="pagina='eclair'"><button type="button" class="btn btn-outline-secondary mx-4 ">More
                        Eclairs</button></a>

            </div>
        </div>
    </div>

    <div class="container-fluid background macarons">
        <div class="row mx-5  mb-3">
            <div class="titlu mb-4 fw-light fs-1 justify-content-center align-content-center flex-wrap text-center ">
                Macarons
            </div>
            <hr>
            <div class="col justify-content-center align-content-center flex-wrap text-center ">
                <img class="img-fluid simple-img border border-5 " src="src/img/Macarons/macarons1.jpeg" alt="">
            </div>
            <div class="col d-none d-sm-block">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons2.jpeg" alt="">
            </div>
            <div class="col d-none d-md-block  ">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons3.jpeg" alt="">
            </div>
            <div class="col d-none d-lg-block  ">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons4.jpeg" alt="">
            </div>
            <div class="col d-none d-xl-block ">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons5.jpeg" alt="">
            </div>
            <div class="col mb-5 d-none d-xxl-block">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons6.jpeg" alt="">
            </div>


        </div>

        <div class="row">
            <div class="col  flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a @click="pagina='macarons'"><button type="button" class="btn btn-outline-secondary mx-4 ">More
                        Macarons</button></a>
                <a @click="pagina='contact'"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>

            </div>
        </div>
    </div>
    <div class="container-fluid background confection">
        <div class="row mx-5  mb-3">
            <div class="titlu mb-4 fw-light fs-1 justify-content-center align-content-center flex-wrap text-center ">
                Confections
            </div>
            <hr>
            <div class="col justify-content-center align-content-center flex-wrap text-center ">
                <img class="img-fluid simple-img border border-5 " src="src/img/Confection/confection1.jpeg" alt="">
            </div>
            <div class="col d-none d-sm-block">
                <img class="img-fluid simple-img border border-5" src="src/img/Confection/confection2.jpeg" alt="">
            </div>
            <div class="col d-none d-md-block  ">
                <img class="img-fluid simple-img border border-5" src="src/img/Confection/confection3.jpeg" alt="">
            </div>
            <div class="col d-none d-lg-block  ">
                <img class="img-fluid simple-img border border-5" src="src/img/Confection/confection4.jpeg" alt="">
            </div>



        </div>

        <div class="row">
            <div class="col  flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a @click="pagina='confection'"> <button type="button" class="btn btn-outline-secondary mx-4 ">More
                        Confection</button></a>
                <a @click="pagina='contact'"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
        </div>
    </div>

 
</template>

<style scoped>

</style>
