<script setup>


</script>
<template>
 
   <div class="container-fluid ">
        <div
            class="row bg-image background_cakes_page flex-column justify-content-center align-content-center flex-wrap text-center ">
            <p class="fw-bold"> lobortis lorem ut sem aliquet molestie. Morbi placerat laoreet tellus, at finibus nisi
                vehicula non. Fusce
                non pellentesque nulla, quis auctor erat. Mauris gravida at justo porta vestibulum.</p>
        </div>
    </div>
   
    <div class="container-fluid background">
        <div class="row ">
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake1.jpeg" alt="cake1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake2.jpeg" alt="cake2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div
                class="col mt-5 justify-content-center align-content-center flex-wrap text-center d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake3.jpeg" alt="cake3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div
                class="col mt-5 justify-content-center align-content-center flex-wrap text-center d-none d-sm-block d-sm-none d-md-block">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake4.jpeg" alt="cake4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>

        </div>

        <div class="row ">
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake7.jpeg" alt="cake7">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake8.jpeg" alt="cake8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake9.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake10.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
        </div>

        <div class="row ">
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake12.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake13.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div
                class="col mt-5 justify-content-center align-content-center flex-wrap text-center d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake14.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div
                class="col mt-5 justify-content-center align-content-center flex-wrap text-center d-none d-sm-block d-sm-none d-md-block">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake15.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
        </div>

        <div class="row ">

            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake17.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake18.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div
                class="col mt-5 justify-content-center align-content-center flex-wrap text-center d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake19.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div
                class="col mt-5 justify-content-center align-content-center flex-wrap text-center d-none d-sm-block d-sm-none d-md-block">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake20.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
        </div>

        <div class="row ">

            <div class="col mb-5 mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake22.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div class="col  mb-5 mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake23.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div
                class="col mb-5 mt-5 justify-content-center align-content-center flex-wrap text-center d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake24.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
            <div
                class="col mb-5 mt-5 justify-content-center align-content-center flex-wrap text-center d-none d-sm-block d-sm-none d-md-block">
                <img class="img-fluid cakes_img border border-5 " src="src/img/Cakes/cake25.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae volup</p>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>
            </div>
        </div>



    </div>



</template>


<style>
</style>    