<script setup>


</script>
<template>

<div class="container-fluid ">
        <div
            class="row  bg-image background_confections_page flex-column justify-content-center align-content-center flex-wrap text-center ">
            <div class="col mt-5">
                <p class="fw-bold "> lobortis lorem ut sem aliquet molestie. Morbi placerat laoreet tellus, at finibus
                    nisi
                    vehicula non. Fusce non pellentesque nulla, quis auctor erat. Mauris gravida at justo porta
                    vestibulum
                    non pellentesque nulla, quis auctor erat. Mauris gravida at justo porta vestibulum.
                    non pellentesque nulla, quis auctor erat. Mauris gr

                </p>
            </div>

        </div>
    </div>

    <div class="container-fluid background  ">
        <div class="row ">
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5" src="src/img/Confection/confection1.jpeg" alt="">
            </div>
            <div
                class="col mt-5 justify-content-center align-content-center flex-wrap text-center d-block d-none d-sm-block d-none d-md-block d-lg-none ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt adipisci est
                fugiat sunt dolorum vitae aperiam neque mollitia. Neque quas accusamus tenetur cupiditate quia,
                recusandae pariatur quibusdam doloremque vitae iste.</div>
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5" src="src/img/Confection/confection2.jpeg" alt="">
            </div>


            <div
                class="col mt-5 justify-content-center align-content-center flex-wrap text-center d-none d-xxl-block d-none d-lg-block">
                <img class="img-fluid simple-img border border-5" src="src/img/Confection/confection3.jpeg" alt="">
            </div>


        </div>
        <div class="row">
            <div class="col mt-5  flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>

            </div>

        </div>
        <div class="row ">
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5" src="src/img/Confection/confection4.jpeg" alt="">
            </div>
            <div
                class="col mt-5 justify-content-center align-content-center flex-wrap text-center d-block d-none d-sm-block d-none d-md-block d-lg-none ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt adipisci est
                fugiat sunt dolorum vitae aperiam neque mollitia. Neque quas accusamus tenetur cupiditate quia,
                recusandae pariatur quibusdam doloremque vitae iste.</div>
            <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5" src="src/img/Confection/confection5.jpeg" alt="">
            </div>


            <div
                class="col mt-5 justify-content-center align-content-center flex-wrap text-center d-none d-xxl-block d-none d-lg-block">
                <img class="img-fluid simple-img border border-5" src="src/img/Confection/confection6.jpeg" alt="">
            </div>


            <div class="row">
                <div
                    class="col mt-5  flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                    <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                            now</button></a>

                </div>

            </div>
        </div>
    </div>

</template>

<style>

</style>