<script setup>


</script>

<template>
 <div class="container-fluid background">
        <div class="row ">
            <h3 class="justify-content-center align-content-center flex-wrap text-center">Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Quasi </h3>

        </div>
        <div class="container-fluid background">
            <p>Completeaza formularul de mai jos</p>
            <div class="row">
                <div class="col-4 ">


                    <label for="exampleInputEmail1 " class="form-label">Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputEmail1" class="form-label">Phone</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

                </div>

            </div>
            <div class="row ">
                <div class="col d-flex">
                    <div class="input-group">
                        <span class="input-group-text">Spune-ne ce doresti</span>
                        <textarea class="form-control" aria-label="With textarea"
                            style="height: 13rem;width: fit-content;"></textarea>
                        <br>

                    </div>
                </div>


            </div>
        </div>


    </div>

    <div class="container-fluid background">
        <div class="row justify-content-center align-content-center flex-wrap text-center ">
            <button type="submit" class="btn btn-primary mt-4 " style="width: 10rem;">Trimite </button>
            <h4 class="mb-4 mt-4">Multumim foarte mult! Te vom contacta in scurt timp!</h4>
        </div>
    </div>
</template>

<style>

</style>