<script setup>


</script>

<template>
    
    <div class="container-fluid ">
        <div
            class="row bg-image background_eclair_page flex-column justify-content-center align-content-center flex-wrap text-center ">
            <p class="fw-bold"> lobortis lorem ut sem aliquet molestie. Morbi placerat laoreet tellus, at finibus nisi
                vehicula non. Fusce
                non pellentesque nulla, quis auctor erat. Mauris gravida at justo porta vestibulum.</p>
        </div>
    </div>

    <div
        class="container-fluid background d-none d-xxl-block d-none d-xl-block d-none d-lg-block d-none d-md-block  desktop ">
        <h1 class="justify-content-center align-content-center flex-wrap text-center ">Eclairs</h1>
        <p class="justify-content-center align-content-center flex-wrap text-center">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. A possimus temporibus modi assumenda nihil incidunt
            alias quae at quas voluptatibus minima officiis repellendus aut, rerum ipsa rem tempore. Quam, ducimus.</p>
        <div class="row">
            <div class="col justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5" src="src/img/Eclairs/eclair1.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem ullam debitis sunt quidem. Dicta
                    distinctio quo veritatis maxime assumenda consequatur repellat magni sed, quae repudiandae dolore
                    tempora asperiores repellendus?</p>
                <img class="img-fluid cakes_img border border-5 " src="src/img/Eclairs/eclair2.jpeg" alt="">

            </div>
            <div class="col">
                <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem ullam debitis sunt
                    quidem. Dicta
                    distinctio quo veritatis maxime assumenda consequatur repellat magni sed, quae repudiandae dolore
                    tempora asperiores repellendus?</p>
                <div class="col mt-5 justify-content-center align-content-center flex-wrap text-center">
                    <img class="img-fluid cakes_img border border-5 " src="src/img/Eclairs/eclair3.jpeg" alt="">

                    <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem ullam debitis
                        sunt quidem. Dicta
                        distinctio quo veritatis maxime assumenda consequatur repellat magni sed, quae repudiandae
                        dolore
                        tempora asperiores repellendus?</p>

                </div>
            </div>
            <div class="col mb-5 justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid cakes_img border border-5" src="src/img/Eclairs/eclair4.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem ullam debitis sunt quidem. Dicta
                    distinctio quo veritatis maxime assumenda consequatur repellat magni sed, quae repudiandae dolore
                    tempora asperiores repellendus?</p>
                <img class="img-fluid cakes_img border border-5 " src="src/img/Eclairs/eclair5.jpeg" alt="">

            </div>
        </div>
    </div>


    <div class="container-fluid background d-none d-sm-block d-md-none d-block tablet">
        <div class="row">
            <div class="col mt-5 d-flex mb-4">
                <img class=" img-fluid eclair_image border border-5" src="src/img/Eclairs/eclair1.jpeg" alt="">
                <p class="eclair_image ms-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem ullam
                    debitis sunt quidem. Dicta
                    distinctio
                    <br>
                    <a href="contact.html"><button type="button" class="btn btn-outline-secondary  ">Buy now!
                        </button></a>
                </p>

            </div>
            <div class="col">
                <div class="col mt-5 d-flex mb-4">
                    <img class=" img-fluid eclair_image border border-5" src="src/img/Eclairs/eclair2.jpeg" alt="">
                    <p class="eclair_image ms-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem
                        ullam debitis sunt quidem. Dicta
                        distinctio
                        <br>
                        <a href="contact.html"><button type="button" class="btn btn-outline-secondary  ">Buy now!
                            </button></a>
                    </p>

                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col mt-5 d-flex mb-5">
                <img class="  img-fluid eclair_image border border-5" src="src/img/Eclairs/eclair3.jpeg" alt="">
                <p class="eclair_image ms-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem ullam
                    debitis sunt quidem. Dicta
                    distinctio
                    <br>
                    <a href="contact.html"><button type="button" class="btn btn-outline-secondary  ">Buy now!
                        </button></a>
                </p>

            </div>
            <div class="col">
                <div class="col mt-5 d-flex mb-5">
                    <img class=" img-fluid eclair_image border border-5" src="src/img/Eclairs/eclair4.jpeg" alt="">
                    <p class="eclair_image ms-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem
                        ullam debitis sunt quidem. Dicta
                        distinctio
                        <br>
                        <a href="contact.html"><button type="button" class="btn btn-outline-secondary  ">Buy now!
                            </button></a>
                    </p>

                </div>

            </div>
        </div>

    </div>


    <div class="container-fluid background  d-block d-sm-none mobile ">
        <div class="row ">
            <div class="col mt-5 d-flex mb-4 justify-content-center align-content-center flex-wrap text-center">
                <img class=" img-fluid eclair_image border border-5" src="src/img/Eclairs/eclair1.jpeg" alt="">
                <p class="eclair_image ms-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem ullam
                    debitis sunt quidem. Dicta
                    distinctio
                    <br>
                    <a href="contact.html"><button type="button" class="btn btn-outline-secondary  ">Buy now!
                        </button></a>
                </p>


            </div>
        </div>
        <div class="row background">
            <div class="col d-flex justify-content-center align-content-center flex-wrap text-center">
                <img class=" img-fluid eclair_image border border-5" src="src/img/Eclairs/eclair3.jpeg" alt="">
                <p class="eclair_image ms-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem ullam
                    debitis sunt quidem. Dicta
                    distinctio
                    <br>
                    <a href="contact.html"><button type="button" class="btn btn-outline-secondary  ">Buy now!
                        </button></a>
                </p>

            </div>

        </div>
        <div class="row background">
            <div class="col d-flex mb-4 justify-content-center align-content-center flex-wrap text-center">
                <img class=" img-fluid eclair_image border border-5" src="src/img/Eclairs/eclair2.jpeg" alt="">
                <p class="eclair_image ms-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem ullam
                    debitis sunt quidem. Dicta
                    distinctio
                    <br>
                    <a href="contact.html"><button type="button" class="btn btn-outline-secondary  ">Buy now!
                        </button></a>
                </p>


            </div>
        </div>
        <div class="row background">
            <div class="col d-flex mb-4 justify-content-center align-content-center flex-wrap text-center">
                <img class=" img-fluid eclair_image border border-5" src="src/img/Eclairs/eclair4.jpeg" alt="">
                <p class="eclair_image ms-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem ullam
                    debitis sunt quidem. Dicta
                    distinctio
                    <br>
                    <a href="contact.html"><button type="button" class="btn btn-outline-secondary  ">Buy now!
                        </button></a>
                </p>


            </div>
        </div>


    </div>
   

</template>

<style>
</style>