<script>
</script>

<template>
  <div class="container-fluid ">
        <div
            class="row bg-image background_macarons_page flex-column justify-content-center align-content-center flex-wrap text-center ">
            <p class="fw-bold " style="text-align: center;"> lobortis lorem ut sem aliquet molestie. Morbi placerat
                laoreet tellus, at finibus nisi
                vehicula non. Fusce
                non pellentesque nulla, quis auctor erat. Mauris gravida at justo porta vestibulum.lobortis lorem ut sem
                aliquet molestie. Morbi placerat laoreet tellus, at finibus nisi
                vehicula non. Fusce
                non pellentesque nulla, quis auctor erat. Mauris gravida at justo porta vestibulum.lobortis lorem ut sem
                aliquet molestie. Morbi placerat laoreet tellus, at finibus nisi
                vehicula non. Fusce
                non pellentesque nulla, quis auctor erat. Mauris gravida at justo porta vestibulum.</p>
        </div>


    </div>

    <div class="container-fluid  ">
        <div class="row mt-5 mb-5">
            <div class="col justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons1.jpeg" alt="">
            </div>

            <div
                class="col justify-content-center align-content-center flex-wrap text-center d-block d-none d-sm-block d-none d-md-block d-lg-none ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt adipisci est
                fugiat sunt dolorum vitae aperiam neque mollitia. Neque quas accusamus tenetur cupiditate quia,
                recusandae pariatur quibusdam doloremque vitae iste.</div>

            <div class="col justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons2.jpeg" alt="">
            </div>

            <div
                class="col justify-content-center align-content-center flex-wrap text-center d-none d-xxl-block d-none d-lg-block ">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons3.jpeg" alt="">
            </div>

            <div
                class="col justify-content-center align-content-center flex-wrap text-center d-none d-xxl-block d-none d-lg-block ">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons4.jpeg" alt="">
            </div>
        </div>
        <div class="row ">
            <div class="col  flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>

            </div>
        </div>


        <div class="col justify-content-center align-content-center flex-wrap text-center  ">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Deserunt adipisci est
            fugiat sunt dolorum vitae aperiam neque mollitia. Neque quas accusamus tenetur cupiditate quia,
            recusandae pariatur quibusdam doloremque vitae iste. fugiat sunt dolorum vitae aperiam neque mollitia. Neque
            quas accusamus tenetur cupiditate quia,
            recusandae pariatur quibusdam doloremque vitae iste.</div>
    </div>
    <div class="container-fluid  ">
        <div class="row mt-5 mb-5">
            <div class="col justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons10.jpeg" alt="">
            </div>
            <div
                class="col justify-content-center align-content-center flex-wrap text-center d-block d-none d-sm-block d-none d-md-block d-lg-none ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt adipisci est
                fugiat sunt dolorum vitae aperiam neque mollitia. Neque quas accusamus tenetur cupiditate quia,
                recusandae pariatur quibusdam doloremque vitae iste.</div>
            <div class="col justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons6.jpeg" alt="">
            </div>


            <div
                class="col justify-content-center align-content-center flex-wrap text-center d-none d-xxl-block d-none d-lg-block">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons7.jpeg" alt="">
            </div>


        </div>
        <div class="row">
            <div class="col  flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>

            </div>
        </div>
    </div>

    <div class="container-fluid  background  ">
        <h1 class="background mt-4  " style="text-align: center;  ">Let's change to Christmas</h1>
        <div class="row  mb-5 ">

            <div class="col justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons5.jpeg" alt="">
            </div>

            <div class="col justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons12.jpeg" alt="">
            </div>

            <div
                class="col justify-content-center align-content-center flex-wrap text-center -none d-xxl-block d-none d-xl-block  d-none d-md-block">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons13.jpeg" alt="">
            </div>

            <div
                class="col justify-content-center align-content-center flex-wrap text-center d-none d-xxl-block d-none d-xl-block d-xl-none ">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons14.jpeg" alt="">
            </div>
            <div
                class="col justify-content-center align-content-center flex-wrap text-center d-none d-xxl-block d-none d-xl-block d-xl-none">
                <img class="img-fluid simple-img border border-5" src="src/img/Macarons/macarons15.jpeg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col  flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>

            </div>
        </div>
    </div>

</template>


<style>

</style>