<script>
</script>

<template>
 <div class="container-fluid background cakes">
        <h2 class="justify-content-center align-content-center flex-wrap text-center ">Cakes</h2>
        <div class="row">
            <div class="col justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5 " src="src/img/Cakes/cake7.jpeg" alt="">
                <img class="img-fluid simple-img border border-5  " src="src/img/Cakes/cake11.jpeg" alt="">
                <p class=" mx-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium
                    perspiciatis fugiat error aliquam! Eaque est eligendi cum quo di</p>
                <img class="img-fluid simple-img border border-5 " src="src/img/Cakes/cake8.jpeg" alt="">
                <img class="img-fluid simple-img border border-5 " src="src/img/Cakes/cake12.jpeg" alt="">
                <p class="mx-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium
                    perspiciatis fugiat error aliquam! Eaque est eligendi cum quo di</p>
            </div>
            <div
                class="col flex-column justify-content-center align-content-center flex-wrap text-center d-none d-md-block d-none d-lg-block d-none d-xl-block d-none d-xxl-block">
                <img class="img-fluid simple-img border border-5 " src="src/img/Cakes/cake9.jpeg" alt="">
                <img class="img-fluid simple-img border border-5 " src="src/img/Cakes/cake13.jpeg" alt="">
                <p class="mx-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium
                    perspiciatis fugiat error aliquam! Eaque est eligendi cum quo di</p>
                <img class="img-fluid simple-img border border-5 " src="src/img/Cakes/cake10.jpeg" alt="">
                <img class="img-fluid simple-img border border-5 " src="src/img/Cakes/cake14.jpeg" alt="">
                <p class="mx-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium
                    perspiciatis fugiat error aliquam! Eaque est eligendi cum quo di</p>

            </div>


        </div>
        <div class="row">
            <div class="col  flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a href="cakes.html"><button type="button" class="btn btn-outline-secondary mx-4  ">More
                        Cakes</button></a>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>

            </div>
        </div>
    </div>

    <div class="container-fluid background eclair">
        <h2 class="justify-content-center align-content-center flex-wrap text-center ">Eclair</h2>
        <div class="row">
            <div class="col flex-column justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5 " src="src/img/Eclairs/eclair1.jpeg" alt="">
                <img class="img-fluid simple-img border border-5  " src="src/img/Eclairs/eclair4.jpeg" alt="">
                <img class="img-fluid simple-img border border-5 " src="src/img/Eclairs/eclair3.jpeg" alt="">
                <img class="img-fluid simple-img border border-5 " src="src/img/Eclairs/eclair5.jpeg" alt="">
                <p class="mx-5 justify-content-center align-content-center flex-wrap text-center">Lorem ipsum dolor, sit
                    amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium orem ipsum dolor, sit amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium
                    perspiciatis fugiat error aliquam! Eaque est eligendi cum quo diperspiciatis fugiat error aliquam!
                    Eaque est eligendi cum quo di</p>
            </div>


        </div>
        <div class="row">
            <div class="col  flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a href="eclair.html"><button type="button" class="btn btn-outline-secondary mx-4  ">More
                        Eclairs</button></a>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>

            </div>
        </div>
    </div>

    <div class="container-fluid background macarons">
        <h2 class="justify-content-center align-content-center flex-wrap text-center ">Macarons</h2>
        <div class="row">
            <div class="col justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5 " src="src/img/Macarons/macarons1.jpeg" alt="">
                <img class="img-fluid simple-img border border-5  " src="src/img/Macarons/macarons2.jpeg" alt="">
                <p class=" mx-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium
                    perspiciatis fugiat error aliquam! Eaque est eligendi cum quo di</p>
                <img class="img-fluid simple-img border border-5 " src="src/img/Macarons/macarons3.jpeg" alt="">
                <img class="img-fluid simple-img border border-5 " src="src/img/Macarons/macarons4.jpeg" alt="">
                <p class="mx-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium
                    perspiciatis fugiat error aliquam! Eaque est eligendi cum quo di</p>
            </div>
            <div
                class="col flex-column justify-content-center align-content-center flex-wrap text-center d-none d-md-block d-none d-lg-block d-none d-xl-block d-none d-xxl-block">
                <img class="img-fluid simple-img border border-5 " src="src/img/Macarons/macarons5.jpeg" alt="">
                <img class="img-fluid simple-img border border-5 " src="src/img/Macarons/macarons6.jpeg" alt="">
                <p class="mx-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium
                    perspiciatis fugiat error aliquam! Eaque est eligendi cum quo di</p>
                <img class="img-fluid simple-img border border-5 " src="src/img/Macarons/macarons7.jpeg" alt="">
                <img class="img-fluid simple-img border border-5 " src="src/img/Macarons/macarons8.jpeg" alt="">
                <p class="mx-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium
                    perspiciatis fugiat error aliquam! Eaque est eligendi cum quo di</p>

            </div>


        </div>
        <div class="row">
            <div class="col  flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a href="macarons.html"><button type="button" class="btn btn-outline-secondary mx-4  ">More
                        Macarons</button></a>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>

            </div>
        </div>
    </div>

    <div class="container-fluid background confection">
        <h2 class="justify-content-center align-content-center flex-wrap text-center ">Confection</h2>
        <div class="row">
            <div class="col flex-column justify-content-center align-content-center flex-wrap text-center">
                <img class="img-fluid simple-img border border-5 " src="src/img/Confection/confection1.jpeg" alt="">
                <img class="img-fluid simple-img border border-5  " src="src/img/Confection/confection2.jpeg" alt="">
                <img class="img-fluid simple-img border border-5 " src="src/img/Confection/confection3.jpeg" alt="">
                <img class="img-fluid simple-img border border-5 " src="src/img/Confection/confection4.jpeg" alt="">
                <p class="mx-5 justify-content-center align-content-center flex-wrap text-center">Lorem ipsum dolor, sit
                    amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium orem ipsum dolor, sit amet consectetur adipisicing elit. Et laudantium sequi,
                    blanditiis praesentium
                    perspiciatis fugiat error aliquam! Eaque est eligendi cum quo diperspiciatis fugiat error aliquam!
                    Eaque est eligendi cum quo di</p>
            </div>


        </div>
        <div class="row">
            <div class="col  flex-column justify-content-center align-content-center flex-wrap text-center mb-4 ">
                <a href="confection.html"><button type="button" class="btn btn-outline-secondary mx-4  ">More
                        Confection</button></a>
                <a href="contact.html"><button type="button" class="btn btn-outline-secondary mx-4 ">Buy now/Contact
                        now</button></a>

            </div>
        </div>
    </div>
</template>

<style>
</style>