<script>
</script>

<template>
 <div class="container-fluid background">
        <div class="row">
            <div class="col justify-content-center align-content-center flex-wrap text-center ">
                <h1>Terms and conditons</h1>
                <p>Lzorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                    orem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex natus,
                     repudiandae, ipsam, tenetur eum consequuntur sunt atque consectetur a ipsum magnam dolor cum ea! Qui eaque facere quae esse.</p>
            </div>
        </div>
    </div>

</template>

<style>

</style>