<script setup>
import Acasa from './components/Acasa.vue'
import About from './components/About.vue'
import Cakes from './components/Cakes.vue'
import Confection from './components/Confection.vue'
import Contact from './components/Contact.vue'
import Eclair from './components/Eclair.vue'
import Macarons from './components/Macarons.vue'
import Menu from './components/Menu.vue'
import Register from './components/Register.vue'
import Terms from './components/Terms.vue'


import {ref} from "vue";

const pagina = ref('acasa');

</script>

<template>


  <div class="container-fluid background header ">
        <div class="row  ">
            <div class="col-3  d-flex flex-column mt-4 d-none d-sm-block d-sm-none d-md-block ">
                <p class="ms-5 mt-2">
                    <i class="bi bi-telephone "></i>
                    0365272625
                </p>
            </div>

            <div
                class="col-6 mb-4 mt-3 flex-column justify-content-center align-content-center flex-wrap text-center fst-italic text_color d-block d-sm-none  animate__shakeY">
                <a @click="pagina='acasa'">
                    <img class="logo scale-up-center " src="src/img/logo_2.png" alt="">
                </a>
            </div>

            <div
                class="col  mt-3 mb-4 flex-column justify-content-center align-content-center flex-wrap text-center fst-italic text_color d-none d-sm-block animate__shakeY">
                <a @click="pagina='acasa'">
                    <img class="logo scale-up-center" src="src/img/logo_2.png" alt="">
                </a>
            </div>

            <div class="col-4   d-flex d-none d-block d-sm-none">
                <p class="Number_phone px-5 mt-3">
                    <i class="bi bi-telephone"></i>
                    0365272625
                </p>
            </div>
            <div class="col-6    d-flex d-block d-sm-none ">
                <p class="Number_phone px-5 mt-3">
                    <i class="bi bi-telephone  "></i>
                    0365272625
                </p>
            </div>
            <div
                class="col-6 d-flex d-none d-sm-block d-md-none mt-4 flex-column justify-content-center align-content-center flex-wrap text-center">
                <p class="intro scale-up-center  ">Comenzile se fac doar prin telefon!</p>
                <hr>
                <p>0365272625</p>
            </div>



            <div class="col-3 mt-4 d-none d-xl-block mb-5 ">
                <a @click="pagina='register' "  class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Register</a>
                <a @click="pagina='menu'" class="stretched-link ms-3 text-link-color" style="position: relative;">Menu</a>

                <a @click="pagina='about'" class="stretched-link ms-3 text-link-color" style="position: relative;">About</a>
                <a @click="pagina='contact'" class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Contact</a>
            </div>
        </div>
    </div>
    <div class="container-fluid background header">
        <div class="row">
            <div
                class="col mt-4 mb-3  flex-column justify-content-center align-content-center flex-wrap text-center d-xl-none">
                <a @click="pagina='register'" class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Register</a>
                <a @click="pagina='menu'" class="stretched-link ms-3 text-link-color" style="position: relative;">Menu</a>
                <hr class="d-block d-sm-none">
                <a @click="pagina='about'" class="stretched-link ms-3 text-link-color" style="position: relative;">About</a>
                <a @click="pagina='contact'" class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Contact</a>

            </div>
        </div>
    </div> 

    <div class="container-fluid background  header">
        <div class="row  ">

            <div
                class="col  d-flex flex-column justify-content-center align-content-center flex-wrap text-center mb-5 d-none d-sm-block ">
                <a @click="pagina='cakes'"><button type="button"
                        class="btn btn-outline-secondary mx-4 button_size">Cakes</button></a>
                <a @click="pagina='eclair'"><button type="button"
                        class="btn btn-outline-secondary mx-4 button_size">Eclair</button></a>
                <a @click="pagina='macarons'"><button type="button"
                        class="btn btn-outline-secondary mx-4 button_size">Macarons</button></a>
                <a @click="pagina='confection'"><button type="button"
                        class="btn btn-outline-secondary mx-4 button_size">Confection</button></a>
            </div>
        </div>
        <div class="row  ">
            <div
                class="col-6 mb-4 d-flex flex-column justify-content-center align-content-center flex-wrap text-center d-block d-sm-none">
                <a @click="pagina='cakes'"><button type="button"
                        class="btn btn-outline-secondary mx-4 button_size2">Cakes</button></a>
                <a @click="pagina='eclair'"><button type="button"
                        class="btn btn-outline-secondary mx-4 button_size2">Eclair</button></a>
            </div>
            <div
                class="col-6 mb-4  d-flex flex-column justify-content-center align-content-center flex-wrap text-center d-block d-sm-none">
                <a @click="pagina='macarons'"><button type="button"
                        class="btn btn-outline-secondary mx-4 button_size2">Macarons</button></a>
                <a @click="pagina='confection'"><button type="button"
                        class="btn btn-outline-secondary mx-4 button_size2">Confection</button></a>
            </div>
        </div>

    </div>

   
  <Acasa  v-if="pagina=='acasa'" />
  <About  v-if="pagina=='about'" />
  <Cakes  v-if="pagina=='cakes'" />
  <Confection  v-if="pagina=='confection'" />
  <Contact  v-if="pagina=='contact'" />
  <Eclair  v-if="pagina=='eclair'" />
  <Macarons  v-if="pagina=='macarons'" />
  <Menu   v-if="pagina=='menu'" />
  <Register  v-if="pagina=='register'" />
  <Terms  v-if="pagina=='terms'" />


  <div class="container-fluid background footer">
        <div class="row">
            <div class="col  ">
                <h4 class="justify-content-center align-content-center flex-wrap text-center">Social</h4>
                <h2 class="mx-5 mt-2 instagram_style justify-content-center align-content-center flex-wrap text-center">
                    <i class="bi bi-instagram "></i>
                </h2>

            </div>

            <div class="col mb-4 justify-content-center align-content-center flex-wrap text-center">
                <h4>More</h4>

                <a href="register.html" class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Register</a>
                <br>
                <a href="menu.html" class="stretched-link ms-3 text-link-color" style="position: relative;">Menu</a>
                <br>
                <a href="about.html" class="stretched-link ms-3 text-link-color" style="position: relative;">About</a>
                <br>
                <a href="contact.html" class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Contact</a>
                <br>
                <a href="terms.html" class="stretched-link ms-3 text-link-color" style="position: relative;">Termeni</a>
                <br>

            </div>

            <div
                class="col justify-content-center align-content-center flex-wrap text-center d-none d-xxl-block d-none d-xl-block d-none d-lg-block d-none d-md-block">
                <h4>Meniu</h4>

                <a href="cakes.html" class="stretched-link ms-3 text-link-color" style="position: relative;">Cakes</a>
                <br>
                <a href="eclair.html" class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Eclairs</a>
                <br>
                <a href="macarons.html" class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Macarons</a>
                <br>
                <a href="confection.html" class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Confection</a>
                <br>
            </div>

            <div class="col d-none d-xxl-block d-none d-xl-block d-none d-lg-block d-none d-md-block">
                <h4 class="  ">
                    <i class="bi bi-telephone"></i>
                    0365272625
                  
                </h4>
                <h5 class=" ">
                    <i class="bi bi-envelope">iulia.bulugu@emanuel.ro</i>
                </h5>

            </div>
        </div>
        <div class="row">
            <div
                class="col justify-content-center align-content-center flex-wrap text-center d-xxl-none d-xxl-block d-xl-none d-lg-none d-xl-block d-md-none d-lg-block">
                <h4>Meniu</h4>

                <a href="cakes.html" class="stretched-link ms-3 text-link-color" style="position: relative;">Cakes</a>
                <br>
                <a href="eclair.html" class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Eclairs</a>
                <br>
                <a href="macarons.html" class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Macarons</a>
                <br>
                <a href="confection.html" class="stretched-link ms-3 text-link-color"
                    style="position: relative;">Confection</a>
                <br>
            </div>

            <div
                class="col d-xxl-none d-xxl-block d-xl-none d-lg-none d-xl-block d-md-none d-lg-block justify-content-center align-content-center flex-wrap text-center">
                <p class="  ">
                    <i class="bi bi-telephone"></i>
                    0365272625
                </p>
                
                
                <p class=" ">
                    <i class="bi bi-envelope">iulia.bulugu@emanuel.ro</i>
                </p>

            </div>
        </div>
    </div>
 
</template>

<style >

@import "../css/base.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "animate.css/animate.css";



</style>
